#! Servidor 
PORT=3000
NODE_ENV=development

#! Base de Datos
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/<dbname>

#! Autenticación JWT
JWT_SECRET=coloca_aqui_una_clave_secreta_larga_y_aleatoria
JWT_EXPIRES_IN=7d         

#! Cifrado en Reposo 
FIELD_ENCRYPTION_KEY=coloca_aqui_una_clave_de_exactamente_32c

#! Email (para notificaciones) 

#! APIs Externas 

#! Comandos para iniciar 