# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*


# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/
build/

GUIA_PRUEBAS_CAJA_BLANCA.md
GUIA_DOCKER.md
